@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Raleway:wght@100&display=swap');
@font-face {
    font-family: 'azonixregular';
    src: url('../fonts/azonix-webfont.woff2') format('woff2'),
         url('../fonts/azonix-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title1 {
  font-family: "Raleway", sans-serif;
}

.title2 {
  font-family: "azonixregular", sans-serif;
}

.section {
  /* padding: 100px 0; */
  padding: 50px 0;
}

@media (max-width: 480px) {
  .section {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 80px 0;
  }
}

.section-sm {
  padding: 70px 0;
}

.section-xs {
  padding: 50px 0;
}
